html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body,
html,
#app-box {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 1200px;
  //max-width: 1200px;
  width: 100%;
  min-height: 670px;
  background: $dark-grey;
  color: $white;
}

button.link {
  background: transparent;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
}

button.link.underline:hover {
  text-decoration: underline;
}

button.link.full {
  width: 100%;
}

header, section {
  position: relative;
}

header {
  height: 70px;
  overflow: hidden;

  h1 {
    line-height: 70px;
    margin: 0;
  }
}

.disjointed-world-layout {
  padding-right: 20px;
  height: 100%;
}

#bar-chart {

  h3 {
    margin: 0;
    padding: 0;
    background: $medium-dark-grey-lightest;
    text-align: center;
    line-height: 32px;
  }

  #barchart-county-close {
    background: $medium-dark-grey-lightest;
    margin: 1px 0 0;
    padding: 4px 0;
    text-align: center;

    button:hover .close {
      color: #ccc;
    }

    .close {
      vertical-align: top;
      position: relative;
      top: -2px;
      margin-left: 10px;

      .close-x {
        vertical-align: middle;
      }
    }
  }


}


#loupe {
  display: none;
}

.has-county #loupe {
  display: block;
}

#color-key {
  height: 90px;
}

#legends-container {
  table-layout: fixed;
  width: 100%;
  height: 100px;

  .td:first-child {
    width: 100%;
  }

  .td:last-child {
    width: 120px;
  }
}


//
// helpers
//
.full-height {
  height: 100%;
}

.table {
  display: table;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
  vertical-align: top;
}


//
// Pseudo-components
//
#population-totals {
  font-size: $font-size-regular-alt;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  h3, p {
    background: $medium-dark-grey-lighter;
    margin: 0;
    padding: 10px 0;
    font-size: $font-size-regular-alt;
  }


  p {
    font-family: $font-family-serif-alt;
    background: $medium-dark-grey;
  }

  .decade {
    margin-right: 8px;
  }

  .total, .percent {
    color: $green;
    font-family: $font-family-sans;
  }

  .percent {
    margin-left: 8px;
  }

  .has-county & .total,
  .has-county & .percent {
    color: $blue;
  }

}



#about-time-period {
  height: 100px;

  .title, .description {
    height: 100%;
    margin: 0;
    padding: 10px;
  }

  h3,p {
    margin: 0;
    line-height: 1;
  }

  .title {
    background: $medium-dark-grey-lighter;

    h3 {
      font-family: $font-family-sans;
      margin: 0;
      font-weight: $font-weight-normal;
      text-transform: uppercase;
    }
    p {
      font-family: $font-family-serif-alt;
      font-size: $font-size-regular-alt;

      .small {
        position: relative;
        top: 2px;
        vertical-align: super;
        font-family: $font-family-sans-alt;
        font-size: $font-size-small;
      }
    }
  }

  .description {
    font-family: $font-family-sans-alt;
    font-size: $font-size-small;
    padding: 10px 20px;
    background: $medium-dark-grey;
    line-height: 1.4;
  }
}