$column-margin: 0%;

//type
$font-family-serif: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif !default;

// colors
$dark-grey: #2F3336;
$medium-dark-grey: #3A3D40;
$medium-dark-grey-lighter: #44474A;
$medium-grey: #6C6E70;

$green: #00A075;
