$column-margin: 0%;

// fonts
$font-family-serif: 'PT Serif', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-family-serif-alt: 'PT Serif Caption', TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-family-sans: 'PT Sans Caption', 'Helvetica Neue', Helvetica, arial, sans-serif;
$font-family-sans-alt: 'PT Sans Narrow', 'Helvetica Neue', Helvetica, arial, sans-serif;

$font-size-largest: 24px;
$font-size-large: 18px;
$font-size-regular-alt: 15px;
$font-size-regular: 14px;
$font-size-small: 12px;
$font-size-smallest: 10px;

$font-weight-bold: 700;
$font-weight-normal: 400;

// colors
$dark-grey: #2F3336;
$medium-dark-grey: #3A3D40;
$medium-dark-grey-lighter: #44474A;
$medium-dark-grey-lightest: #4E5053;
$medium-grey: #6C6E70;

$white: #F7FBFF;
$green: #0d9f76;
$blue: #338eb4;
$blue-light: #deebf8;

// padding
$default-padding: 15px;
$container-padding: 15px;


