$bar-height: 16px;

.bar-chart-container {
  margin-bottom: 20px;
  background: $medium-dark-grey;

  h3 {
    margin: 0;
    padding: 0;
    background: $medium-dark-grey-lightest;
    text-align: center;
    line-height: 32px;
  }

  button {
    display: block;
    width: 100%;
    height: $bar-height;
    margin: 0;
    padding: 0;
    background: $medium-dark-grey-lighter;
    border: 0;
    font-size: 21px;
    text-decoration: none;
    line-height: 1;
    outline: 0;

      span {
        position: relative;
      }

      &.up span {
        top: -8px;
      }

      &.down span {
        top: 2px;
      }
  }
}

.bar-chart-rows-wrapper {
  width: 90%;
  margin: 10px 0 10px 5%;
  height: 300px;
  overflow: scroll;
}

.has-county .bar-chart-rows-wrapper {
  height: 120px;
}

.bar-chart-rows {
  display: table;
  table-layout: fixed;
}

.chartRow {
  display: table-row;
  cursor: pointer;

  .label,
  .bar {
    display: table-cell;
    vertical-align: middle;
    line-height: 1;
  }

  .label {
    text-align: right;

    span {
      padding-right: 15px;
      font-size: $font-size-regular;
      font-family: $font-family-sans-alt;
      color: $white;
      white-space: nowrap;
    }
  }

  .bar {
    position: relative;
    width: 100%;

    span {
      display: block;
      height: $bar-height;
      background: $blue-light;
      line-height: 1;
    }

    .value {
      position: absolute;
      left: 15px;
      top: 2px;
      background: transparent;
      color: $blue;
      font-family: $font-family-sans;
      font-size: $font-size-regular;
    }
  }

  &:hover {
    .label span {
      color: #aaa;
    }
  }
}