$medium-grey: white !default;

.disjointed-world-layout {
  svg {
    border: 1px solid #333;
  }

  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
    display: none;
  }

  .land {
    stroke: none;
    stroke-width: 0;
    stroke-opacity: 0;
    fill: $medium-grey;
  }

  .error {
    stroke: darkred;
    fill: red;
    display: none;
  }

  .county {
    stroke: $medium-grey;
    stroke-width: 0.1;
    stroke-opacity: 1;
    fill: $medium-grey;
  }

  .county:hover {
    opacity: 1;
  }

  .country {
    fill: green;
    opacity: 0.7;
    stroke: none;
    cursor:pointer;
  }
  .country.selected {
    stroke: $white;
    stroke-width: 2;
    stroke-opacity: 0.7;
    cursor: default;
    pointer-events: none;
  }

  .link {
    fill: none;
    stroke: #444;
    pointer-events: none;
    display: none;
  }

  .wl-bk {
    position: absolute;
    background: transparent;
    border: 1px solid yellow;
  }

  .arc-line {
    stroke: #fff;
    stroke-width: 1.5;
    stroke-opacity: 0.3;
    fill: none;
  }

}

#loupe {
  margin: 0 20px 20px;
}
svg.loupe {
  .crosshair {

    circle {
      fill: none;
      stroke: #000;
      stroke-width: 1;
    }

    line {
      fill: none;
      stroke: #000;
      stroke-width: 1;
    }
  }

  .arrows {
    .arrow {
      fill: none;
      stroke: #000;
      stroke-width: 2;
    }
  }
}
